.bottombar {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100pc;
    height: 50px;

    background-color: white;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: gray;
}
.home-icon {
    display: flex; 
    align-items: center;
}
.search-icon {
    display: flex;
    align-items: center;
}
.post-icon {
    display: flex;
    align-items: center;
}
.shop-icon {
    display: flex;
    align-items: center;
}
.profile {
    display: flex;
    align-items: center;
}
.bottom-icons {
    border-radius: 50pc;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}