.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.story-1 {
    display: flex;
    align-items: center;
}
.story-2 {
    display: flex;
    align-items: center;
}
.story-3 {
    display: flex;
    align-items: center;
}
.story-4 {
    display: flex;
    align-items: center;
}
.story-5 {
    display: flex;
    align-items: center;
}
.story-6 {
    display: flex;
    align-items: center;
}
.profile-pic {
    border-radius: 50pc;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
