.body {
    border: 5px solid black;
}
.main-grid {
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    justify-content: center;
}
.posts {
    height: 35pc;
    width: 30pc;
}

