.sidebar {
    width: 142px;
    display: flex;
    flex-direction: column;
    

    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    justify-content: space-evenly;

    background-color: white;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: gray;
    
}
 .message-1 {
    display: flex;
    align-items: center;
 }
 .message-2 {
    display: flex;
    align-items: center;
 }
 .message-3 {
    display: flex;
    align-items: center;
 }
 .message-4 {
    display: flex;
    align-items: center;
 }
 .message-5 {
    display: flex;
    align-items: center;
 }